.events-table-map-container {
  display: flex;
  width: 1200px;
  gap: 2rem;
}

.events-table-container {
  width: 60%;
}

.events-map-container {
  width: 40%
}

@media only screen and (max-width: 400px){
  .events-table-map-container {
    display: flex;
   flex-direction: column;
  }
}