@import 'styles/theme';

.loginPage {
  background-color: $accent;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.container {
    position: absolute;
    background-color: $textColor;
    width: 40%;
    height: auto;
    left: 30%;
    top: 20%;
    border-radius: $borderRadius;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}